/* TOGGLE SWITCH BASED ON INPUT CHECKBOX - inspired by W3Schools tutorial */

/* The switch - the box around the slider */
.toggle_switch {
    $on_col: #4871b6;
    $off_col: #ccc;
    $switch_col: #ffffff;
    $w: 40px;
    $h: 22px;
    $inside_margin: 2px;
    $anim_speed: 400ms;
    
    position: absolute;
    display: inline-block;
    width: $w;
    height: $h;
    margin-left: 5px;

    /* Hide default HTML checkbox */
    input {
        visibility: hidden;
    }

    /* The slider */
    .slider {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: $h;
        
        cursor: pointer;
        background-color: $off_col;
        transition: $anim_speed;
        

        &:before {
            position: absolute;
            content: "";
            height: $h - $inside_margin*2;
            width: $h - $inside_margin*2;
            border-radius: 50%;

            left: $inside_margin;
            bottom: $inside_margin;
            background-color: $switch_col;
            transition: $anim_speed;
        }
    }

    input:checked + .slider {
        background-color: $on_col;

        &:before {
            transform: translateX($h - $inside_margin*2);
        }
    }

    input:focus + .slider {
        box-shadow: 0 0 1px $on_col;
    }
}